/* Header.js=============================================== */
.navbar-show {
  position: sticky;
  top: 0;
  display: flex;
  padding: 5px;
  /* width:100%; */
  height: 50px;
  background-color: #131921;
  z-index: 1;
  visibility: visible;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.navbar-logo {
  object-fit: contain;
  visibility: visible;
  /* padding: 10px; */
  /* margin-left: 10px; */
  padding: 10px 0px 0px 5px;
  display: flex;
  position: relative;
  float: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-shrink: 30;
  justify-content: center;
  align-items: center;
  height: 32px;
}
.navbar-profile-logo {
  position: fixed;
  width: 30px;
  right: 20px;
  object-fit: contain;
}
.flag {
  height: 16px;
  object-fit: contain;
  visibility: visible;
  padding: 10px;
}
.reverse {
  flex-direction: row-reverse;
  color: "F3F3F3";
}
.search-bar {
  display: flex;
  flex: 1 1;
  align-items: center;
  border-radius: 240px;
  padding: 10px;
  border: none;
  width: 100%;
}
.search-bar-text {
  height: 40px;
  width: 40px;
  background-color: #f3f3f3;
  font-size: 12px;
  border-radius: 7px 0px 0px 7px;
  text-align: center;
  font-weight: 600;
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}
.search-bar-input {
  height: 38px;
  /* padding: 10px; */
  border: none;
  width: 100%;
}
.search-bar-icon {
  height: 40px;
  width: 34px;
  padding-left: 10px;
  background-color: #ed9042;
  border-radius: 0px 7px 7px 0px;
  display: flex;
  align-items: center;
}
.header-pin-logo {
  margin-top: 10px;
  margin-left: 10px;
}
.header-options {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 10px 7px;
}
.header-checkout-box {
  display: flex;
  margin: 10px 0 10px 7px;
  gap: 10px;
}
.header-option-menu {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.header-option-menu-one {
  color: #ccc;
  margin-top: 0;
  padding-right: 0;
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  font-weight: 400;
}
.header-option-menu-two {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
}
.header-basket {
  display: flex;
  align-items: center;
  color: white;
}
.header-basket-count {
  margin-top: -32px;
  margin-left: -20px;
  color: #f08804;
  font-size: 18px;
}
.header-basket-text {
  margin-left: 10px;
  margin-right: 10px;
}
.secondNavbar {
  width: 100%;
  height: 35px;
  background-color: #232f3e;
  display: flex;
  flex-direction: row;
}
.secondNavbar-text-content {
  position: static;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
.secondNavbar-text-content > p {
  color: white;
  font-size: 14px;
  /* box-sizing: content-box; */
  font-family: inherit;
  cursor: pointer;
  margin: 0px 5px;
  /* margin-right: 5px; */
  padding: 5px;
}
.secondNavbar-text-content > a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  /* box-sizing: content-box; */
  font-family: inherit;
  cursor: pointer;
  margin: 0px 5px;
  /* margin-right: 5px; */
  padding: 5px;
}
.secondNavbar-text-content > a:hover {
  color: #00ffbe;
}
.secondNavbar-image {
  height: 30px;
  position: absolute;
  right: 0;
}
@media only screen and (max-width: 960px) {
  .header-options {
    display: none;
  }
  .search-bar {
    margin: 0 15px 0 15px;
  }
}

@media only screen and (max-width: 720px) {
  .search-bar {
    margin: 0 5px 0 5px;
  }
  .secondNavbar-image {
    display: none;
  }
  .search-bar-text {
    display:none;
  }
  .navbar-logo {
    height: 25px;
  }
  .search-bar-input{
    border-radius: 5px 0 0px 5px;
  }
}